[Desktop Entry]
Version=1.0
Type=Application
Name=Gui-Toolkit
Exec=/usr/local/bin/toolkit-launcher.sh
Icon=/usr/share/icons/gui-toolkit-128x128.png
Terminal=false
Categories=Utility;
