[Desktop Entry]
Version=1.0
Type=Application
Name=GUI-Toolkit
Exec=/usr/local/bin/toolkit-launcher.sh
Icon=/usr/share/icons/grey-glitch.png
Terminal=false
Categories=Utility;